services:
  - type: worker
    name: telegram-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: SOURCE_CHANNEL_ID
        sync: false
      - key: TARGET_GROUP_ID
        sync: false
      - key: SEND_INTERVAL_HOURS
        value: 0
      - key: SEND_INTERVAL_MINUTES
        value: 1

